<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--JDBC database connection settings -->
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/my_first_database</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MariaDB103Dialect</property>

		<!-- show generated SQL queries -->
		<property name="show_sql">true</property>


		<!-- Used to create, update, or validate database schema -->
		<!-- create - creates new databases tables based on existing class mappings. 
			if the tables already exist it will drop the existing tables and recreate 
			them -->
		<!-- update- update the existing tables to match the class mappings -->
		<!-- validate - validate existing tables against class mappings -->
		<!-- create-drop - same as create but will drop all tables once sessionfactory 
			is closed -->
		<property name="hbm2ddl.auto">update</property>


		<!-- specifiy our entity/class mappings here -->
		<mapping class="com.revature.model.User"></mapping>
		<mapping class="com.revature.model.UserRoles"></mapping>
		<mapping class="com.revature.model.Reimbursement"></mapping>
		<mapping class="com.revature.model.ReimbursementStatus"></mapping>
		<mapping class="com.revature.model.ReimbursementType"></mapping>



	</session-factory>
</hibernate-configuration>